@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=GFS+Didot&family=Nanum+Gothic:wght@400;700;800&display=swap");
@import "variables.css";

/* Components */
@import "css/components/status-bar.css";
@import "css/components/screen-header.css";
@import "css/components/navigation.css";
@import "css/components/user.css";
@import "css/components/badge.css";
@import "css/components/other-icon-set.css";
@import "css/components/alt-header.css";
@import "css/components/chat.css";
@import "css/components/no-mobile.css";

/* Screens */
@import "css/screens/index.css";
@import "css/screens/friends.css";
@import "css/screens/find.css";
@import "css/screens/more.css";
@import "css/screens/setting.css";
@import "css/screens/chat.css";
body {
  font-family: linotype-didot, serif;
  font-family: "GFS Didot", serif;
  font-family: "Nanum Gothic", sans-serif;
  background-color: var(--black);
  color: var(--ivory);
}

.background-color {
  background-color: var(--deep-black);
}

.main-screen {
  padding: 0px 25px;
}
