@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=GFS+Didot&family=Nanum+Gothic:wght@400;700;800&display=swap");
@import "variables.css";

/* Components */
@import "/components/status-bar.css";

/* Screens */
@import "/screens/index.css";

body {
  font-family: "GFS Didot", serif;
  font-family: "Nanum Gothic", sans-serif;
  background-color: var(--black);
}
