:root {
  --black: #091b26;
  --dark-jade: #3b5159;
  --ivory: #d9d6c7;
  --beige: #bfbdb4;
  --didot: "GFS Didot", serif;
  --gothic: "Nanum Gothic", sans-serif;
  --deep-black: #0d0d0d;
  --border-color: #bfbdb479;
  --border-color2: #3b5159b7;
}
