#no-mobile {
  position: absolute;
  z-index: 99;
  height: 100vh;
  width: 100vw;
  background-color: var(--black);
  display: flex;
  top: 0;
  justify-content: center;
  align-items: center;
  font-family: var(--didot);
  font-size: 40px;
}

#no-mobile span {
  z-index: 99;
}

#no-mobile img {
  object-fit: cover;
  position: inherit;
  height: 100vh;
  width: 100vw;
}

@media screen and (max-width: 645px) {
  #no-mobile {
    display: none;
  }
}
